Flask==2.0.3
Werkzeug==2.0.3
psycopg2-binary==2.9.6
matplotlib==3.5.1
click==8.1.7
ansible-base==2.10.8
apache-libcloud==3.2.0
argcomplete==1.8.1
asgiref==3.8.1
astroid==3.1.0
Babel==2.8.0
bcrypt==3.2.0
black==24.3.0
blinker==1.8.2
Brotli==1.0.9
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==3.3.2
colorama==0.4.4
contourpy==1.1.1
#mongo
pymongo==4.0.1
